*{
    padding: 0px;
    margin: 0px;
}



:root{
    
    /*
    
    --height-nav: 200px;

    --margin-list: 5%;    
    --margin-product: 5%;

    --product-size: 350px;
    --width-product: 270px;
    --margin-top-product: 15px;
    --margin-right-product: 15px;
    --margin-left-product: 15px;
    --margin-buttom-product: 15px;
    --scale: 1.1; 


    --title-size-sucursales: 20px;
    --title-size: 35px;  
    --height-sucursales: 100px;
    --width-title-product: 300px;
    */
    --div-logo: 100%;
    --div-form: 100%
}


@media (max-width: 720px) {

    :root{
        --div-logo: 100%;
        --div-form: 100%
    }
}

.div-logo{

    background-color: red;
    width: var(--div-logo);
    height: 130px;
    margin-bottom: 50px;
}

img{
    width: 50%;
    height: 110px;
    margin: auto;
    display: block;
}

div button{

    margin: auto;
    margin-top: 20px;
    display: block;
    width: 130px;
    height: 40px;
    color: black;
    background-color: red;
}

h2{

    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.formulario{

    width: 500px;
    margin: auto;
    margin-top: 50px;
    background-color: red;
}

input{

    display: block;
    margin-top: 10px;
    margin-bottom: 20px;
    margin: auto;
    text-align: center;
    background-color: white;
    /*border: 5px;
    border-color: white;
    border-bottom: 10px green;*/
}

.resultado{

    margin-top: 30px;
    background-color: grey;
    width: 500px;
    height: 150px;
}

label{

    margin-top: 10px;
    margin: auto;
    text-align: center;
    display: block;
    margin-bottom: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

.resultado label{

    margin: auto;
    font-size: 30px;
    text-align: center;
}

.resultado{

    margin-top: 30px;
}

#precioFinalConIVA, #precioFinalSinIVA{

    background-color: rgb(202, 202, 202);
    text-align: center;
    font-size: 100px;
}

.menu{

    margin: auto;
    text-align: center;
    margin-bottom: 30px;
}

a{

    margin: auto;
    font-size: 20px;
    margin-top: 10px;
    display: block;
}

footer{

    width: 100%;
    height: 100px;
    text-align: center;
    background-color: red;
}

footer h3{

    text-align: center;
}