*{
    margin: 0px;
    padding: 0px;    
}



:root{
    
    /*
    
    --height-nav: 200px;

    --margin-list: 5%;    
    --margin-product: 5%;

    --product-size: 350px;
    --width-product: 270px;
    --margin-top-product: 15px;
    --margin-right-product: 15px;
    --margin-left-product: 15px;
    --margin-buttom-product: 15px;
    --scale: 1.1; 


    --title-size-sucursales: 20px;
    --title-size: 35px;  
    --height-sucursales: 100px;
    --width-title-product: 300px;
    
    --div-logo: 100%;
    --div-form: 100%;

    --width-html: 100%;
    */

    --width-imag-logo: 200px
    --width-form: 70%;
    --margin-left-right: 5%;
    --height-form: 60%;

}


@media (max-width: 720px) {

    :root{
        --div-logo: 100%;
        --div-form: 100%;
        --width-html: 100%;
        --width-imag-logo: 40%
        --width-form: 60%;
        --margin-left-right: 5%;
        --height-form: 60%;
    }
}


.div-logo{

    background-color: red;
    height: 70px;
    width: var(--div-logo);    
    display: block;
}

img{

    display: block;
    padding-top: 10px;
    margin: auto;
    width: var(--width-imag-logo);
    height: 70%;
    padding-bottom: 10px;
}

div button{

    margin: auto;
    /*margin-top: 20px;*/
    display: block;
    width: 130px;
    height: 40px;
    color: black;
    background-color: red;
    margin-bottom: 20px;
}

.formulario{
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    
    border-radius: 5px;
    width: var(--width-form);
    height: var(--height-form);
    background-color: red;
    display: block;
    margin-left: var(--margin-left-right);
    margin-right: var(--margin-left-right);
}

input{

    display: block;
    margin-top: 10px;
    margin-bottom: 20px;
    margin: auto;
    text-align: center;
    background-color: white;
    /*border: 5px;
    border-color: white;
    border-bottom: 10px green;*/
}

.resultadoPorUnidad{

    margin-top: 50px;
    background-color: grey;
    margin: auto;
    width: 80%;    
    height: 100px;
    margin-bottom: 20px;
}

.resultadoPorBulto{

    margin-top: 30px;
    background-color: grey;
    width: 80%;
    margin: auto;
    height: 100px;
    margin-bottom: 20px;
}

.precio{

    height: 150px;
    width: var(--width-form);
    background-color: gray;
    margin-left: var(--margin-left-right);
    margin-right: var(--margin-left-right);
}

label{

    margin-top: 10px;
    margin: auto;
    text-align: center;
    display: block;
    margin-bottom: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

.menu{

    margin: auto;
    text-align: center;
    margin-bottom: 30px;
}

.mensaje-index{

    margin: auto;
    margin-top: 20px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;  
    display: block;
    width: 70%;    
}

.formulario-factura{

    margin-top: 40px;
    font-size: 20px;    
    display: block;
}

.resultado label{

    margin: auto;
    font-size: 30px;
    text-align: center;
}

#precioFinalConIVA, #precioFinalSinIVA{

    background-color: rgb(82, 9, 199);
    text-align: center;
    font-size: 100px;
}

#precioFinalUnidadSinIVA, #precioFinalBultoSinIVA{

    background-color: rgb(240, 245, 238);
    text-align: center;
    font-size: 70px;
    margin: auto;
    margin-top: 10px;
    margin-left: var(--margin-left-right);
    margin-right: var(--margin-left-right);
}

footer{

    width: 100%;
    height: 60px;
    text-align: center;
    background-color: red;
    position: sticky;
    bottom: 0px;
}

footer h3{
    
    margin: auto;
    margin-top: 20px;
    display: block;
    text-align: center;
}