.div-logo{

    background-color: red;
    width: 500px;
    height: 170px;
    margin-bottom: 50px;
}

img{
    width: 500px;
    height: 170px;

}

div button{
    margin: auto;
    margin-top: 20px;
    
}

.formulario{

    width: 500px;
    margin: auto;
}

input{

    display: block;
    margin-top: 10px;
    margin-bottom: 20px;
    /*border: 5px;
    border-color: white;
    border-bottom: 10px green;*/
}

.resultado{

    margin-top: 30px;
    background-color: grey;
    width: 500px;
    height: 150px;
}

.resultado label{

    margin: auto;
    font-size: 30px;
    text-align: center;
}

.resultado{

    margin-top: 30px;
}

#preciofinal{

    background-color: rgb(202, 202, 202);
    text-align: center;
    font-size: 100px;
}